ADMIN_EMAIL=
ADMIN_PASSWORD=
GAME_MANAGER_EMAIL=
GAME_MANAGER_PASSWORD=
INTERNAL_WRITER_EMAIL=
INTERNAL_WRITER_PASSWORD=
ADMIN_STG_EMAIL=
ADMIN_STG_PASSWORD=
GAME_MANAGER_STG_EMAIL=
GAME_MANAGER_STG_PASSWORD=
INTERNAL_WRITER_STG_EMAIL=
INTERNAL_WRITER_STG_PASSWORD=